<html lang="en">
    <head>
        <script type='text/javascript' src='http://code.jquery.com/jquery.min.js'></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="au theme template">
        <meta name="author" content="Hau Nguyen">
        <meta name="keywords" content="au theme template">
    
        <!-- Title Page-->
        <title>Suite Car</title>

        <!-- Fontfaces CSS-->
        <link href="css/font-face.css" rel="stylesheet" media="all">
        <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
        <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

        <!-- Bootstrap CSS-->
        <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

        <!-- Vendor CSS-->
        <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
        <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
        <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
        <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
        <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
        <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
        <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
        <link href="vendor/vector-map/jqvmap.min.css" rel="stylesheet" media="all">

        <!-- Main CSS-->
        <link href="css/theme.css" rel="stylesheet" media="all">

    </head>

    <body class="animsition">
        <div class="page-wrapper">
            <!-- HEADER MOBILE-->
            <header class="header-mobile d-block d-lg-none">
                <div class="header-mobile__bar">
                    <div class="container-fluid">
                        <div class="header-mobile-inner">
                            <a class="logo" href="index.html">
                                <img src="images/icon/logo.png" alt="CoolAdmin" />
                            </a>
                            <button class="hamburger hamburger--slider" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER MOBILE-->

            <!-- MENU SIDEBAR-->
            <!-- END MENU SIDEBAR-->

            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <!-- HEADER DESKTOP-->
                <header id="header-desktop">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="logo">
                                <a href="home">
                                    <img src="images/icon/logo.png" alt="Suite Car" />
                                </a>
                            </div>
                            <div class="header-wrap">
                                <div class="header-button">         
                                    <a href="team" class="nav">Team</a>
                                    <a href="maps" class="nav">Map</a>
                                    <a href="air_chart" class="nav">Air Chart</a>
                                    <a href="heart_chart" class="nav">Heart Chart</a>
                                    <a href="list_view" class="nav">List View</a>
                                    <div class="account-wrap">
                                        <div class="account-item clearfix js-item-menu">
                                            <div class="image">
                                                <img src="images/icon/avatar-03.jpg" alt="J3SUNG" />
                                            </div>
                                            <div class="content">
                                                <a class="js-acc-btn" href="#">{{username}}</a>
                                            </div>
                                            <div class="account-dropdown js-dropdown">
                                                <div class="info clearfix">
                                                    <div class="image">
                                                        <a href="#">
                                                            <img src="images/icon/avatar-03.jpg" alt="J3SUNG" />
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <h5 class="name">
                                                            <a href="#">{{username}}</a>
                                                        </h5> 
                                                        <span class="email">{{email}}</span>
                                                    </div>
                                                </div>
                                                <div class="account-dropdown__body">
                                                    <div class="account-dropdown__item">
                                                        <a href="change_password_page">
                                                            <i class="zmdi zmdi-account"></i>Password Change</a>
                                                    </div>
                                                    <div class="account-dropdown__item">
                                                        <a href="id_cancelation_page">
                                                            <i class="zmdi zmdi-settings"></i>ID Cancellation</a>
                                                    </div>
                                                    <div class="account-dropdown__item">
                                                        <a id="signout">
                                                            <i class="zmdi zmdi-power"></i>Sign Out</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- END HEADER DESKTOP-->

                <div class="main-content" id="back_maps">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 m-t-20">
                                    <div class="sensor_title">
                                        Air Sensor Data
                                    </div><br>
                                    <div class="sensor_no"> sensor name : &nbsp </div>
                                    <form name="combobox" class="combobox">
                                        <select id="combo" name="combo">
                                        </select>
                                    </form>
                                    <div class="sensor_button_box">
                                        <button class="sensor_button" id="button_realtime"> realtime </button>
                                        <button class="sensor_button" id="button_historical"> historical </button>
                                    </div><br>
                                    <!-- MAP DATA-->
                                    <div id="chart_div">
                                        <script type="text/javascript">
                                            google.load("visualization", "1", {packages:["corechart"]});
                                            google.setOnLoadCallback(drawChart);
                                            
                                            var user_no = {{user_no}};
                                            var sensor_no = {{sensor_no}};
                                            $now = new Date();
                                            
                                            if({{flag}} == 0){
                                                $(function(){ 
                                                    $.ajax({
                                                    url: "/charts/receive_combobox",
                                                        dataType:"text",
                                                        async: false,
                                                        type : "GET",
                                                        data : {
                                                            "user_no" : user_no,
                                                            "type" : 0
                                                        },
                                                        success : function(data) {
                                                            $data = JSON.parse(data);
                                                            addOption($data);
                                                        },
                                                        error : function(data) {
                                                            alert("There is something wrong@.");
                                                        }
                                                    });
                                                })
                                            }
                                            else{
                                                var data_info = {{sensor_no}};

                                                var frm = document.combobox;
                                                var op = new Option();
                                                op.value = data_info; // 값 설정
                                                op.text = "someone sensor"; // 텍스트 설정
                                        
                                                op.selected = true; // 선택된 상태 설정 (기본값은 false이며 선택된 상태로 만들 경우에만 사용)
                                        
                                                frm.combo.options.add(op); // 옵션 추가
                                            }
                                            function addOption(data){
                                                for(var index in data) {
                                                    var data_info = data[index].sname;
                                                    var s_no = data[index].sensor_no;
                                                    var frm = document.combobox;
                                                    var op = new Option();
                                                    op.value = s_no; // 값 설정
                                                    op.text = data_info; // 텍스트 설정
                                            
                                                    op.selected = true; // 선택된 상태 설정 (기본값은 false이며 선택된 상태로 만들 경우에만 사용)
                                            
                                                    frm.combo.options.add(op); // 옵션 추가
                                                }
                                                sensor_no = $("#combo option:selected").val();
                                            } 
                                            
                                            var TEM = 0;
                                            var CO = 0;
                                            var O3 = 0;
                                            var SO2 = 0;
                                            var NO2 = 0;
                                            var PM25 = 0;
                                            var view_type = 0;
                                            var flag = 1;
                                            function drawChart() {
                                                sensor_no = $("#combo option:selected").val();
                                                var jsonData = $.ajax({
                                                    url: "/charts/chart2_json",
                                                    dataType:"text",
                                                    async: false,
                                                    type : "GET",
                                                    data : {
                                                        "user_no" : user_no,
                                                        "sensor_no" : sensor_no,
                                                        "view_type" : view_type,
                                                        "start_date" : start_date,
                                                        "end_date" : end_date,
                                                        "type" : 0
                                                    }
                                                }).responseText;

                                                if(jsonData == ""){
                                                    if(flag == 1){
                                                        flag = 0;
                                                        alert("Not Found Current Data");
                                                    }
                                                }
                                                else {
                                                    if(flag == 0){
                                                        flag = 1;
                                                        alert("Found Current Data");
                                                    }
                                                }
                                                //alert(jsonData);
                                                // Create our data table out of JSON data loaded from server.
                                                var data = new google.visualization.DataTable(jsonData);
                                                
                                                if(view_type == 0){
                                                    var options = {
                                                        hAxis: {
                                                            title: "Air Data Realtime",
                                                            textPosition : 'none'
                                                        },
                                                        curveType: 'function',
                                                        series: {
                                                            0: { targetAxisIndex: 0, type: 'line',lineDashStyle: [4, 4], lineWidth: 5},
                                                            1: { targetAxisIndex: 1},
                                                            2: { targetAxisIndex: 1},
                                                            3: { targetAxisIndex: 1},
                                                            4: { targetAxisIndex: 1},
                                                            5: { targetAxisIndex: 1}
                                                        },
                                                        legend: {
                                                            align: 'top'
                                                        },
                                                        vAxes: {
                                                            0: {title: 'Temperature', titleTextStyle: {italic: false}, viewWindow: { min: 0, max: 100}},
                                                            1: {title: 'Air AQI Data', titleTextStyle: {italic: false}, viewWindow: { min: 0, max: 500}}
                                                        }
                                                    };
                                                }
                                                else{
                                                    $x_date = start_date + " ~ " + end_date;
                                                    var options = {
                                                        hAxis: { 
                                                            title: $x_date,
                                                            textPosition : 'none'
                                                        },
                                                        curveType: 'function',
                                                        series: {
                                                            0: { targetAxisIndex: 0, type: 'line',lineDashStyle: [2, 2], lineWidth: 2},
                                                            1: { targetAxisIndex: 1},
                                                            2: { targetAxisIndex: 1},
                                                            3: { targetAxisIndex: 1},
                                                            4: { targetAxisIndex: 1},
                                                            5: { targetAxisIndex: 1},
                                                            6: { targetAxisIndex: 1},
                                                            7: { targetAxisIndex: 1},
                                                            8: { targetAxisIndex: 1},
                                                            9: { targetAxisIndex: 1},
                                                            10: { targetAxisIndex: 1}
                                                        },
                                                        legend: {
                                                            align: 'top'
                                                        },
                                                        vAxes: {
                                                            0: {title: 'Temperature', titleTextStyle: {italic: false}, viewWindow: { min: 0, max: 100}},
                                                            1: {title: 'Air AQI Data', titleTextStyle: {italic: false}, viewWindow: { min: 0, max: 500}}
                                                        }
                                                    };
                                                }
                                                
                                                var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                                                chart.draw(data, options);

                                                view = new google.visualization.DataView(data);
                                                if(TEM){
                                                    view.hideColumns([1]);
                                                }
                                                if(CO){
                                                    view.hideColumns([2]); 
                                                    view.hideColumns([7]);
                                                }
                                                if(SO2){
                                                    view.hideColumns([3]); 
                                                    view.hideColumns([8]); 
                                                }
                                                if(O3){
                                                    view.hideColumns([4]); 
                                                    view.hideColumns([9]);
                                                }
                                                if(PM25){
                                                    view.hideColumns([5]); 
                                                    view.hideColumns([10]); 
                                                }
                                                if(NO2){
                                                    view.hideColumns([6]); 
                                                    view.hideColumns([11]); 
                                                }

                                                chart.draw(view, options);
                                            }

                                            $('#combo').change(function() {
                                                flag = 1;
                                                drawChart();
                                            });

                                            var timer = setInterval(drawChart, 1000);

                                            $(function(){ 
                                                $("#button_CO").click(function(){ 
                                                    if(CO == 0){
                                                        CO = 1;
                                                        $("#button_CO").css('background-color', 'white');
                                                        $("#button_CO").css('background-color', 'white');
                                                        $("#button_CO").css('color', '#27AE60');
                                                        $("#button_CO").css('border', 'solid');
                                                    }
                                                    else{
                                                        CO = 0;
                                                        $("#button_CO").css('background-color', '#27AE60');
                                                        $("#button_CO").css('color', 'white');
                                                        $("#button_CO").css('border', 'none');
                                                    }
                                                    drawChart();
                                                }) 
                                            })
                                            $(function(){ 
                                                $("#button_O3").click(function(){ 
                                                    if(O3 == 0){
                                                        O3 = 1;
                                                        $("#button_O3").css('background-color', 'white');
                                                        $("#button_O3").css('color', '#27AE60');
                                                        $("#button_O3").css('border', 'solid');
                                                    }
                                                    else{
                                                        O3 = 0;
                                                        $("#button_O3").css('background-color', '#27AE60');
                                                        $("#button_O3").css('color', 'white');
                                                        $("#button_O3").css('border', 'none');
                                                    }
                                                    drawChart();
                                                }) 
                                            })
                                            $(function(){ 
                                                $("#button_SO2").click(function(){ 
                                                    if(SO2 == 0){
                                                        SO2 = 1;
                                                        $("#button_SO2").css('background-color', 'white');
                                                        $("#button_SO2").css('color', '#27AE60');
                                                        $("#button_SO2").css('border', 'solid');
                                                    }
                                                    else{
                                                        SO2 = 0;
                                                        $("#button_SO2").css('background-color', '#27AE60');
                                                        $("#button_SO2").css('color', 'white');
                                                        $("#button_SO2").css('border', 'none');
                                                    }
                                                    drawChart();
                                                }) 
                                            })
                                            $(function(){ 
                                                $("#button_NO2").click(function(){ 
                                                    if(NO2 == 0){
                                                        NO2 = 1;
                                                        $("#button_NO2").css('background-color', 'white');
                                                        $("#button_NO2").css('color', '#27AE60');
                                                        $("#button_NO2").css('border', 'solid');
                                                    }
                                                    else{
                                                        NO2 = 0;
                                                        $("#button_NO2").css('background-color', '#27AE60');
                                                        $("#button_NO2").css('color', 'white');
                                                        $("#button_NO2").css('border', 'none');
                                                    }
                                                    drawChart();
                                                }) 
                                            })
                                            $(function(){ 
                                                $("#button_PM25").click(function(){ 
                                                    if(PM25 == 0){
                                                        PM25 = 1;
                                                        $("#button_PM25").css('background-color', 'white');
                                                        $("#button_PM25").css('color', '#27AE60');
                                                        $("#button_PM25").css('border', 'solid');
                                                    }
                                                    else{
                                                        PM25 = 0;
                                                        $("#button_PM25").css('background-color', '#27AE60');
                                                        $("#button_PM25").css('color', 'white');
                                                        $("#button_PM25").css('border', 'none');
                                                    }
                                                    drawChart();
                                                }) 
                                            })
                                            $(function(){ 
                                                $("#button_realtime").click(function(){ 
                                                    view_type = 0;
                                                    timer = setInterval(drawChart, 1000);
                                                    $("#button_realtime").css('background-color', '#27AE60');
                                                    $("#button_realtime").css('color', 'white');
                                                    $("#button_historical").css('background-color', 'white');
                                                    $("#button_historical").css('color', 'black');
                                                    $("#date_submit").css('visibility', 'hidden');
                                                    
                                                    drawChart();
                                                }) 
                                            })
                                            $(function(){ 
                                                $("#button_historical").click(function(){ 
                                                    view_type = 1;
                                                    clearInterval(timer);   
                                                    $("#button_historical").css('background-color', '#27AE60');
                                                    $("#button_historical").css('color', 'white');
                                                    $("#button_realtime").css('background-color', 'white');
                                                    $("#button_realtime").css('color', 'black');
                                                    $("#date_submit").css('visibility', 'visible');

                                                    drawChart();
                                                }) 
                                            })
                                        </script>
                                    </div>
                                    
                                    <div id = "air_submit">
                                        <button type = "button" class = "air_button" id = "button_CO">CO</button>
                                        <button type = "button" class = "air_button" id = "button_O3">O3</button>
                                        <button type = "button" class = "air_button" id = "button_SO2">SO2</button>
                                        <button type = "button" class = "air_button" id = "button_NO2">NO2</button>
                                        <button type = "button" class = "air_button" id = "button_PM25">PM25</button>
                                    </div><br>

                                    <div class = "date_submit_box" id = "date_submit">
                                        <input type="date" class = "userdate" id="userdate1" name="userdate1">
                                        <input type="time" class = "userdate m-r-30" id="usertime1" name="usertime1">
                                        <input type="date" class = "userdate m-r-30 m-l-30" id="userdate2" name="userdate2">
                                        <input type="time" class = "userdate" id="usertime2" name="usertime2">
                                        <button type = "button" class = "button_date_submit m-l-20" id = "button_date_submit">Submit</button>
                                    </div>
                                    
                                    <script>
                                        var today = new Date();
                                        var month = new Date(today - 86400000);
                                        
                                        document.getElementById('userdate1').value = month.toISOString().substring(0, 10);
                                        document.getElementById('userdate2').value = month.toISOString().substring(0, 10);
                                        document.getElementById('usertime1').value = "21:00";
                                        document.getElementById('usertime2').value = "22:00";

                                        var start_date = $('#userdate1').val() + " " + $('#usertime1').val();
                                        var end_date = $('#userdate2').val() + " " + $('#usertime2').val();

                                        $(function(){ 
                                                $("#button_date_submit").click(function(){ 
                                                    start_date = $('#userdate1').val() + " " + $('#usertime1').val();
                                                    end_date = $('#userdate2').val() + " " + $('#usertime2').val();

                                                    var startDate = $( "input[name='userdate1']" ).val(); //2017-12-10
                                                    var startDateArr = startDate.split('-');
                                                    
                                                    var endDate = $( "input[name='userdate2']" ).val(); //2017-12-09
                                                    var endDateArr = endDate.split('-');
                                                            
                                                    var startDateCompare = new Date(startDateArr[0], parseInt(startDateArr[1])-1, startDateArr[2]);
                                                    var endDateCompare = new Date(endDateArr[0], parseInt(endDateArr[1])-1, endDateArr[2]);
                                                    
                                                    if(startDateCompare.getTime() > endDateCompare.getTime()) {
                                                        
                                                        alert("Check start_date and end_date");
                                                        
                                                        return;
                                                    }
                                                
                                                    drawChart();
                                                }) 
                                            })
                                    </script>
                                    <!-- END MAP DATA-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Jquery JS-->
        <script src="vendor/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap JS-->
        <script src="vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <!-- Vendor JS       -->
        <script src="vendor/slick/slick.min.js">
        </script>
        <script src="vendor/wow/wow.min.js"></script>
        <script src="vendor/animsition/animsition.min.js"></script>
        <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
        </script>
        <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="vendor/counter-up/jquery.counterup.min.js">
        </script>
        <script src="vendor/circle-progress/circle-progress.min.js"></script>
        <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="vendor/select2/select2.min.js">
        </script>
        <script src="vendor/vector-map/jquery.vmap.js"></script>
        <script src="vendor/vector-map/jquery.vmap.min.js"></script>
        <script src="vendor/vector-map/jquery.vmap.sampledata.js"></script>
        <script src="vendor/vector-map/jquery.vmap.world.js"></script>
        <script src="vendor/vector-map/jquery.vmap.brazil.js"></script>
        <script src="vendor/vector-map/jquery.vmap.europe.js"></script>
        <script src="vendor/vector-map/jquery.vmap.france.js"></script>
        <script src="vendor/vector-map/jquery.vmap.germany.js"></script>
        <script src="vendor/vector-map/jquery.vmap.russia.js"></script>
        <script src="vendor/vector-map/jquery.vmap.usa.js"></script>

        <!-- Main JS-->
        <script src="js/main.js"></script>
    </body>
</html>

<script type='text/javascript'>
$("#signout").click(function(event) {
    $.ajax({
        url :"/signout",
        success : function(data) {
            if(data == "success") {
                location.href = "login";
            }
            else {
                alert("failed");
            }
        },
        error : function (request, error) {
            alert(" Email already sent to your E-mail. ");
        }
    });
});
</script>